[user]
	name = 
	email = 
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  
# This is Git's per user configuration file.
[alias]
	lg = log --graph --decorate --oneline --abbrev-commit --color
	st = status
    amend = commit --amend --no-edit
    b = branch -v --color --sort=committerdate
[color]
    status = auto
    ui = auto
[push]
	default = current
