# This file controls the behaviour of line input editing for
# programs that use the GNU Readline library.  Existing
# programs include FTP, Bash, and GDB.
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
#
$include /etc/Inputrc

TAB: menu-complete
#set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-ignore-case on
